# Игнорировать все папки __pycache__ в любом месте проекта
**/__pycache__/

# Игнорировать папку logs в корне проекта
logs/

# Игнорировать временные или ненужные файлы и папки
*.pyc
*.pyo
.DS_Store       
.env            
